  
    /* Reset css */
*{
    margin: 0px;
    padding: 0px;
    border:0px;
}

body {
    font-family: "Open Sans", sans-serif;
}
    ul, ol, li {
        list-style: none;
    } 

/* ID's */

#img{
   
    height: 300px;
    /* margin-top: 0px; */
    /* float:left; */
    width: 99.9%;
    text-align: center;
    position:absolute; left:1px; top:0px;bottom: 1px; z-index: 1;
}

   

 #eu{
     width:230px;
     height:220px;
     border-radius: 50%;
     border:solid 3px white;
    /* alinhamento da foto lateral direita */
     position:relative; top:20px; z-index: 2;
     float:right;
     margin-right:2%;
     
    }
    /* Formtação da barra de navegação */
    #navegacao {
        background: #1f1f1f;
        border-bottom: 1px solid #d8d8d8;
        height: 45px;
        position: fixed;
        width: 100%;
        top: 299.9px;
    }
    
    #area {
        width: 720px;
        margin: 0 auto;
    }
    
   
    
    #menu {
       
        padding: 13px 16px;
        text-align:center;
    }
    
    /* Classes */

    .imagem_topo{
        width: 100%;
        margin: 0; padding: 0;
        float: left;
        height: 100%;
        background-color: black;
        display:block;
       
    }    
   
 
    
    /****************************************************
    ***********************Formatação dos links do Menu de navegação************/
    a {
        text-decoration: none;
        padding: 13.9px 25px;
    }
    /*Links não visitados*/
    a:link {
        color: #ffffff;
    }
    
    /*Links vistados*/
    a:visited {
        color: #838383;
    }
    
    /*Links hover*/
    a:hover {
        color: #fff;
        background: #c0c2b4;
    }
    
    /*Links active*/
    a:active {
        color: #535353;
    }
    
  
    